NEXTAUTH_SECRET=your-nextauth_secret
MONGODB_URI=your-mongodb_uri
RESEND_API_KEY=your-resend_api_key
OPENAI_API_KEY=your-openai_api_key
NEXTAUTH_URL=your-nextauth_url
NEXT_PUBLIC_HASHNODE_GQL_ENDPOINT=your-next_public_hashnode_gql_endpoint
PINECONE_API_KEY=your-pinecone_api_key
PINECONE_INDEX=your-pinecone_index
PINECONE_ENVIRONMENT=your-pinecone_environment
SUPABASE_KEY=your-supabase_key
SUPABASE_URL=your-supabase_url
AWS_ACCESS_KEY=your-aws_access_key
AWS_SECRET_KEY=your-aws_secret_key
AWS_ACCOUNT=your-aws_account
AWS_REGION=your-aws_region